<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Mozarteum</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/public/css/master.css">
    <link href='//fonts.googleapis.com/css?family=Vollkorn|Oxygen' rel='stylesheet' type='text/css'>
    <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />

</head>
<body>

    {{{body}}}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
    <script src='/public/js/main.js'></script>
</body>
</html>
